# Paste your Google Apps Script Web App URL below
# Make sure you copy the newly created `.env.local.example` to `.env.local` 
# and replace the URL below before running the application.

GOOGLE_SCRIPT_URL="YOUR_WEB_APP_URL_HERE"
